<!DOCTYPE html>
<html>
    <head>
        <title>Jobs : {{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />
    </head>
    <body style="margin: 5rem">
        <h1>{{ page.title }}</h1>
        {% include breadcrumbs.html %}
        <article class="uk-article">
            {{ content }}
        </article>
        <footer class="uk-flex uk-flex-center">
            &copy; to me
        </footer>
    </body>
</html>